#error-page {
  height: 80vh;
  h1 {
    font-size: 7rem;
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  }
  .not-found {
    font-size: 1.7rem;
  }
  .lost {
    font-size: 1.3rem;
  }
  a {
    border: 1px solid lighten($topbar-background, 20%);
    border-radius: 5px;
    background: lighten($topbar-background, 20%);
    color: white;
    &:hover {
     color: lighten($topbar-background, 20%);
     background: none;
    }
  }
  @media screen and (max-width: 40em) {
    h1 {
      font-size: 5rem;
    }
    .not-found {
      font-size: 1.5rem;
    } 
    .lost {
      font-size: 1.2rem;
    } 
  }
}
