#about {
  text-align: center;
  img {
    border-radius: 50%;
    margin-top: -7.5em;
  }
  p {
    text-align: left;
    font-size: 1em;
  }
  .fab {
    font-size: 1.5em;
    padding :0.5em;
  }
  @media screen and (min-width: 40em) {
    margin: auto;
    width: 75%;
    padding: 2em;
    .title {
      padding-top: 2.5em;
    }
    .name {
      color: white;
      font-size: 2em;
      margin: -2.5em;
    }
    
  }
}
