#facilities-page {
  padding: 1.5em 1em;;
  .facility {
    text-align: center;
    padding: 2em;
  }  
  @media screen and (max-width: 40em) {
    .facility {
      padding: 0.5em 1em 1em;
    }
  }
}
