#footer {
  background-color: $topbar-background;
  color: white;
  padding: 1.5em 1.5em 0.5em 1.5em;
  h1{
    font-size:1.5em;
  }
  .abh-txt{
    p{
      padding:1.5em 0;
    }
    .abh {
      height: 8em;
      width: 8em;
    }
  }
  .links {
    li {
      list-style-type: none;
      padding:0.4em;
    }
    a {
      color: white;
      padding: 0rem 0.5em;;
      text-decoration: underline;
    }
  }
  .fab {
    padding: 0.3em;
    font-size: 1.5em;
  }
  .contacts {
    li {
      list-style-type: none;
      padding:0.4em;
    }
    .watsup {
      font-size: 1em;
    }
    .fas,.far {
      padding: 0.3em;
      font-size: 1em;
    }
  }
  .social-media{
    padding-top: 1em;
    text-align: center;
    a {
      color: white;
    }
    .podii {
      padding-right: 0.25em;
    }
  }
  @media screen and (max-width: 40em) {
    .abh-txt p {
          padding: 1.5em 0 0 0;
    }
    .contacts {
      padding-top: 0;
    li {
      padding: 0.3em 0;
    }
    }
  }

}
