#hero-section {
  background-size: cover;
  height:70vh;
  background-image: linear-gradient(rgba(51,48,56, 0.9), rgba(51,48,56, 0.9)), url(../img/pro-studio.jpg);
  .hero{
    height: 70vh;
  }
  @media screen and(min-width:40em){
      margin-top:-3.5em;
  }
  }
