#top-nav {
  background-color: $topbar-background;
  color: white;
  #nav {
    height:1em;
    background-color: $topbar-background;
    position: relative;
    overflow-x: hidden;
    #offCanvas {
      background-color: $topbar-background;
      ul {
        list-style-type: none;
        a {
          text-decoration: none;
          font-size: 1.5em;
          color: #dad6d6;
          display: block;
          transition: 0.3;
          list-style-type: none;
          padding: 1.4em;
          & :hover {
            color: #f1f1f1;
          }
          border: none;
        }
      }
      .close-button {
        font-size: 3em;
        color:$white;
      }
    }
  }
}
