#parallax {
  background-image: linear-gradient(rgba(126,43,99,0.70), rgba(126, 43, 99, 0.70)), url(../img/parallax.jpeg);
  background-attachment: fixed;
  background-size: cover;
  color:white;
  padding:1.8em 1em;
  text-align:center;
  h1 {
    font-size: 1.5em;
    padding: 0.2em;
  }
  p {
    padding: 0.3em;
  }
  h2 {
    padding-top:0.1em;
  }
  .button {
    border: 1px solid white;
    border-radius: 3px;
    color: white;
  }
}
