#services-section {
  text-align: center;
  padding: 1.5em;
  background: $light-grayish-blue;
  .services {
    width: 80%;
    margin: auto;
    .service {
      padding: 1em;
      i {
        font-size: 2.7em;
      }
      h2 {
        font-size: 1.5em;
        padding-top: 0.6em;
      }
      p {
        padding: 0 0.5em;
      }
      .fa {
        color: $moderate-pink;
      }
    a {
      border-radius: 5px;
      border: 1.7px solid lighten($topbar-background, 20%);
      color: lighten($topbar-background, 20%);
      &:hover {
        background: lighten($topbar-background, 20%);
        color: white;
      }
    }
    }
  }
  @media screen and (max-width: 40em) {
    h1 {
      font-size: 2em;
    }
    .services {
      .service {
        p {
          padding: 0;
        }
      }
    }
  }
}
