#about-page {
  width: 80%;
  padding: 2rem 0;
  margin: auto;
  text-align: center;
  img {
    border-radius: 50%;
  }
  p {
    padding: 0.5em;
  }
  .fab {
    font-size: 2rem;
    padding: 0.5rem 1rem;
  }
  .connect {
    margin-bottom: 0;
  }
}
