#facilities {
  padding: 2rem 1.5rem;
  .facility {
    padding: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .facility-title {
      border: 2px solid gray;
      border-radius: 5px;
    }
    .facility-description {
      padding-top: 0.5rem;
    }
    img {
   border-radius: 5px;
    }
    .button {
      background: lighten($topbar-background, 20%);
    }
  }
}
