#hero {
  height: 20vh;
  
  background-image: linear-gradient(rgba(0,0,0,0.70), rgba(0, 0, 0, 0.70)), url(../img/hero.jpg);
  background-size: cover;
  background-attachment: fixed;
  h1 {
    color: white;
    font-size: 2.5rem;
  }
}

