#testimonials-section {
  padding: 0 1rem 1.5rem 1rem;
  h1 {
    padding-bottom: 3.5rem;
  }
  .testimonials {
    .testimonial {
      padding: 3rem 1rem;
      text-align: center;
      img {
        border-radius: 50%;
        margin-top: -110px;
      }
      p {
        padding-top: 1rem;
      }
      span {
        font-size: 1rem;
      }
      .checked {
        color: orange;
      }
      .name {
        padding-left: 1.7rem;
        font-style: italic;
      }
      .callout {
        border-radius: 5px;
      }
    }
  }
  @media screen and (min-width: 40em) {
    .testimonials {
      width: 80%;
      margin: auto;
    }
  }
}
