#navigation-menu {
  display: inline-block;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius:1em; 
  .menu {
    li {
      padding-right: 1rem;
    }
    .active {
      background: white;
      color: black;
    }
    a {
      color: white;
      border: 1px solid  white;
      &:hover {
        color: black;
        background: white;
      }
    }
    .button {
      border-radius: 5px;
    }
  }
}
