---
page-title: About
hero-title: About ABH
---
{{>hero}}
<section id="about-page">
  <img src="{{root}}assets/img/brian.png">
  <h1>- Brayo -</h1>
  <p> ABH as he is popularly known is the short form For Another Brayo Hit. This was a phrase he coined at a very young age and
    his reason behind it was that every track he touches has to be a hit hence every other Jam he produces and/ or hitting
    the airwaves will always be Another Brayo Hit. He is a Multi-Talented producer who plays the piano, Bass Guitar and an
    assortment of authentic musical instruments, Song writes, Voices and Arranges harmonies and a very good Music Director.
    He has enjoyed Commercial success for a period of at least ten years when he had songs on heavy Radio rotation as far
    back as 2008 as he was also mentoring and tutoring other aspiring producers and Sound engineers as he was perfecting
    his craft to world class levels. With a Bachelor of Arts Degree in Psychology and Communication from The University of
    Nairobi, he uses this edge to be able to tap into target audiences by analyzing behavioral patterns and trends to be
    able to effectively communicate and pass messages to the intended Targets for the numerous campaigns he has engaged in
    for Corporations such as KPLC, HELB,NASA, NHIF, CAK, CRDB Bank Tanzania, Consolidated bank PNL, PSK, TMG, Sautisol amongst
    many more that are listed in His rich portfolio of satisfied Clients. With Him is where passion meets professionalism
    and efficiency is maximum regardless of timelines and client expectations.
  </p>
  
</section>
