---
page-title: Services
hero-title: Services
---
{{>hero}}
<section id="service-page" class="grid-container">
  {{#each services-page}}
  <div class="service grid-x grid-padding-x" id="{{this.id}}">
    <div class="cell medium-6 {{this.description-source-ordering}}">
      <h1>{{this.title}}</h1>
      <p>{{this.description}}</p>
    </div>
    <div class="cell medium-6 {{this.image-source-ordering}}">
      <img src="{{root}}assets/img/{{this.image}}">
    </div>
  </div>
  {{/each}}
</section>
