<section id="about">
  <div class="grid-x grid-padding-x">
    <div class="cell medium-4">
      <img src="{{root}}assets/img/brian.png" alt="Brian Omondi photo">
    </div>
    <div class="cell medium-8">
      <h1 class="name">Brian Omondi | Music Producer,ABH Studios</h1>
      <h2 class="title">Hello there!</h2>
      <p> ABH as he is popularly known is the short form For Another Brayo Hit. This was a phrase he coined at a very young age
        and his reason behind it was that every track he touches has to be a hit hence every other Jam he produces and/ or
        hitting the airwaves will always be Another Brayo Hit.</p>
      <div class="social-links">
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter"></i>
      </div>
      <a class="button" href="about.html">More About ABH</a>
    </div>
  </div>
</section>