<section id="facilities">
  <h1 class="text-center">Facilities</h1>
  <div class="grid-x grid-margin-x">
  {{#each facilities}}
  <div class="cell medium-3 facility">
    <p class="facility-title"><i class="fa {{this.icon}}"></i> &nbsp; {{this.title}} </p>
    <img class="facility-image" src="{{root}}assets/img/{{this.image}}">
    <p class="facility-description">{{this.description}}</p>
    <a class="button small primary" href="facilities.html#{{this.section}}">Read more</a>
  </div>
  {{/each}}
  </div>
</section>
