<section id="footer">
  <div class="grid-x grid-padding-x">
    <div class="cell medium-4 abh-txt">
      <img class="abh" src="{{root}}assets/img/ABH.png" alt="ABH logo" />
      <p>Creativity.Passion.Talent</p>
    </div>
    <div class="cell medium-4 links hide-for-small-only">
      <h1>Quick Links</h1>
      <li>><a href="/">Home</a></li>
      <li>><a href="#">About</a></li>
      <li>><a href="services.html">Services</a></li>
      <li>><a href="facilities.html">Facilities</a></li>
    </div>
    <div class="cell medium-4 contacts">
      <h1>Contact Info</h1>
      <li><i class="far fa-envelope">&nbsp;&nbsp;P.O BOX 437876</i></li>
      <li><i class="fas fa-phone">&nbsp;&nbsp;0909845348</i></li>
      <li><i class="fab fa-whatsapp watsup">&nbsp;&nbsp;+6678976897</i></li>
      <li><i class="fas fa-envelope">&nbsp;&nbsp;brayo@abh.com</i></li>
      <li><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;Music Avenue,Nairobi</li>
    </div>
  </div>
  </div>
  <div class="social-media">
    <a href="https://www.instagram.com/abhsoundke/" target="blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/abhsound/" target="blank"> <i class="fab fa-facebook"> </i> </a>
    <a href="https://www.twitter.com/@abhsound/" target="blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.snapchat.com/@abhsound/" target="blank"><i class="fab fa-snapchat"></i></a>
    <p>All rights reserved ABH &copy;2018</p>
    <p>Powered by
    <a href="https://www.podiihq.com" target="_blank">
      <img class="podii" src="{{root}}assets/img/podii.png" alt="podii logo">Podii
    </a>
    </p>
  </div>
</section>
