<li><a class="button hollow {{#ifpage 'index'}}active{{/ifpage}}" href="index.html">Home</a></li>
<li><a class="button hollow {{#ifpage 'about'}}active{{/ifpage}}" href="about.html">About</a></li>
<li><a class="button hollow {{#ifpage 'services'}}active{{/ifpage}}" href="services.html">Services</a></li>
<li><a class="button hollow {{#ifpage 'facilities'}}active{{/ifpage}}" href="facilities.html">Facilities</a></li>
<li><a class="button hollow" href="#footer">Contacts</a></li>
