<section id = "top-nav" class="show-for-small-only">
<button type="button" class="menu-icon" data-toggle="offCanvas"></button>&nbsp;<span>Menu</span>
<div class="off-canvas-wrapper" id ="nav">
    <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
      <button class="close-button" aria-label="Close menu" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>
        <ul class="vertical">
           {{> navigation-links}}
          </ul>
  </div>
  <div class="off-canvas-content" style="min-height: 300px;" data-off-canvas-content>
        </div>
</div>
</section>
