<section id="parallax">
  <h1>Check out our Studios & Book a session </h1>
  <p>Choose our studio and let us make your dreams come to.Let us nurture your talent</p>
  <a class="button hollow show-for-small-only" href="tel:0705263536">call +2548749853 today!</a>
  <a class="button hollow hide-for-small-only" href="javascript:void()">call +2548749853 today!</a>
</section>
