<section id="services-section">
    <h1>Services</h1>
  <div class="grid-x padding-x services">
    {{#each services}}
    <div class="cell medium-6 service">
      <i class="fa {{this.icon}}" aria-hidden="true"></i>
      <h2>{{this.title}}</h2>
      <p>{{this.desc}}</p>
      <a class="hollow button small primary" href="services.html#{{this.section}}">Read more</a>
    </div>
    {{/each}}
  </div>
</section>
