<section id="testimonials-section">
  <h1 class="text-center">Testimonials</h1>
  <div class="grid-x grid-padding-x testimonials">
    {{#each testimonials}}
    <div class="cell medium-4 testimonial">
      <div class="callout">
        <img src="{{root}}assets/img/{{this.image}}" width="180" heigth="180">
        <p>{{this.testimony}}</p>
        <p>
        <span class="fa {{this.rating1}}"></span> 
        <span class="fa {{this.rating2}}"></span>
        <span class="fa {{this.rating3}}"></span>
        <span class="fa {{this.rating4}}"></span>
        <span class="fa {{this.rating5}}"></span>
        <span class="name">- {{this.name}} -</span>
        </p>
      </div>
    </div>
    {{/each}}
  </div> 
</section>
