{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABH | {{page-title}}</title>
    <meta name="description" content="{{metatags.description}}">
    <meta name="image" content="{{metatags.image}}">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="ABH">
    <meta name="twitter:description" content="{{metatags.description}}">
    <meta name="twitter:site" content="@abh">
    <meta name="twitter:image:src" content="{{metatags.image}}">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="ABH">
    <meta name="og:description" content="{{metatags.description}}">
    <meta name="og:image" content="{{metatags.image}}">
    <meta name="og:url" content="{{metatags.url}}">
    <meta name="og:site_name" content="ABH">
    <meta name="og:type" content="website">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body>
    <div id="loader-wrapper">
      <div id="loader">
        <img src="../assets/img/abh.gif" alt="Welcome To ABH Sound"/>
      </div>
    </div>
    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    <div id="body-content">
    {{> off-canvas}}
    {{>top-bar}}
    {{> body}}
    {{> footer}}
    </div>
    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
